<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="." method="POST">
        {% csrf_token %}
        <h1>选择图书馆</h1>
        <input type="radio" name = "library" value="4">文理学部图书馆<br><br>
        <input type="radio" name = "library" value="2">工学部图书馆<br><br>
        <input type="radio" name = "library" value="1">信息学部图书馆<br><br>
        <input type="radio" name = "library" value="3">医学部图书馆<br><br>
        <hr>
        <h1>选择起止时间</h1>
        <h2>开始时间</h2>
        <select name="start_time" id="">
            <option value="0800">08:00</option>
            <option value="0815">08:15</option>
            <option value="0830">08:30</option>
            <option value="0845">08:45</option>
            <option value="0900">09:00</option>
            <option value="0915">09:15</option>
            <option value="0930">09:30</option>
            <option value="0945">09:45</option>
            <option value="1000">10:00</option>
            <option value="1015">10:15</option>
            <option value="1030">10:30</option>
            <option value="1045">10:45</option>
            <option value="1100">11:00</option>
            <option value="1115">11:15</option>
            <option value="1130">11:30</option>
            <option value="1145">11:45</option>
            <option value="1200">12:00</option>
            <option value="1215">12:15</option>
            <option value="1230">12:30</option>
            <option value="1245">12:45</option>
            <option value="1300">13:00</option>
            <option value="1315">13:15</option>
            <option value="1330">13:30</option>
            <option value="1345">13:45</option>
            <option value="1400">14:00</option>
            <option value="1415">14:15</option>
            <option value="1430">14:30</option>
            <option value="1445">14:45</option>
            <option value="1500">15:00</option>
            <option value="1515">15:15</option>
            <option value="1530">15:30</option>
            <option value="1545">15:45</option>
            <option value="1600">16:00</option>
            <option value="1615">16:15</option>
            <option value="1630">16:30</option>
            <option value="1645">16:45</option>
            <option value="1700">17:00</option>
            <option value="1715">17:15</option>
            <option value="1730">17:30</option>
            <option value="1745">17:45</option>
            <option value="1800">18:00</option>
            <option value="1815">18:15</option>
            <option value="1830">18:30</option>
            <option value="1845">18:45</option>
            <option value="1900">19:00</option>
            <option value="1915">19:15</option>
            <option value="1930">19:30</option>
            <option value="1945">19:45</option>
            <option value="2000">20:00</option>
            <option value="2015">20:15</option>
            <option value="2030">20:30</option>
            <option value="2045">20:45</option>
            <option value="2100">21:00</option>
            <option value="2115">21:15</option>
            <option value="2130">21:30</option>
            <option value="2145">21:45</option>
            <option value="2200">22:00</option>
            <option value="2215">22:15</option>
            <option value="2230">22:30</option>
        </select>
        <h2>结束时间</h2>
        <select name="end_time" id="">
            <option value="0800">08:00</option>
            <option value="0815">08:15</option>
            <option value="0830">08:30</option>
            <option value="0845">08:45</option>
            <option value="0900">09:00</option>
            <option value="0915">09:15</option>
            <option value="0930">09:30</option>
            <option value="0945">09:45</option>
            <option value="1000">10:00</option>
            <option value="1015">10:15</option>
            <option value="1030">10:30</option>
            <option value="1045">10:45</option>
            <option value="1100">11:00</option>
            <option value="1115">11:15</option>
            <option value="1130">11:30</option>
            <option value="1145">11:45</option>
            <option value="1200">12:00</option>
            <option value="1215">12:15</option>
            <option value="1230">12:30</option>
            <option value="1245">12:45</option>
            <option value="1300">13:00</option>
            <option value="1315">13:15</option>
            <option value="1330">13:30</option>
            <option value="1345">13:45</option>
            <option value="1400">14:00</option>
            <option value="1415">14:15</option>
            <option value="1430">14:30</option>
            <option value="1445">14:45</option>
            <option value="1500">15:00</option>
            <option value="1515">15:15</option>
            <option value="1530">15:30</option>
            <option value="1545">15:45</option>
            <option value="1600">16:00</option>
            <option value="1615">16:15</option>
            <option value="1630">16:30</option>
            <option value="1645">16:45</option>
            <option value="1700">17:00</option>
            <option value="1715">17:15</option>
            <option value="1730">17:30</option>
            <option value="1745">17:45</option>
            <option value="1800">18:00</option>
            <option value="1815">18:15</option>
            <option value="1830">18:30</option>
            <option value="1845">18:45</option>
            <option value="1900">19:00</option>
            <option value="1915">19:15</option>
            <option value="1930">19:30</option>
            <option value="1945">19:45</option>
            <option value="2000">20:00</option>
            <option value="2015">20:15</option>
            <option value="2030">20:30</option>
            <option value="2045">20:45</option>
            <option value="2100">21:00</option>
            <option value="2115">21:15</option>
            <option value="2130">21:30</option>
            <option value="2145">21:45</option>
            <option value="2200">22:00</option>
            <option value="2215">22:15</option>
            <option value="2230">22:30</option>
        </select><br><br>
        <hr>
        <input type="submit" value="确认">
    </form>
</body>
</html>